<div class="container-fluid">
    <div class="row" id="books">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div><h3>{{author.firstName}} {{author.lastName}} Books</h3></div>
                        <input class="btn btn-primary" ng-click="goTo('/book/new/'+author.id)" type="submit" value="New Book">
                    </div>
                    <div id="book-grid" class="grid-view">
                        <div class="summary">Showing {{10*(page-1) + 1}}-{{10*(page-1)+books_show.length}} of {{books.length}} results.</div>
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th class="button-column">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="book in books_show">
                                    <td width="5%">{{book.id}}</td>
                                    <td width="60%">{{book.title}}</td>
                                    <td class="button-column">
                                        <a class="glyphicon glyphicon-pencil" title="EDIT" ng-click="goTo('/book/edit/'+book.id)"></a>
                                        <a class="glyphicon glyphicon-remove" title="DELETE" ng-click="deleteBook(book.id)"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6">
                                <div class="previous"><a ng-click="previous()">Previous</a></div>
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <div class="next"><a ng-click="next()">Next</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
